RewriteEngine On
RewriteBase /open-appointment-backend/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/(.*)$ index.php/$1 [QSA,L,END]

RewriteRule ^(.*)$ public/index.html [L]
