# Enable rewriting engine
RewriteEngine On

# Set the base directory

# Handle requests for existing files or directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to index.php
RewriteRule ^(.*)$ index.php/$1 [QSA,L]
